* {
	font-family: Calibri, sans-serif;
	line-height: 1.0em;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: grey;
}

#mainDoc {
	width: min(80em, 50%);
	padding: 2em;
	border: 2px solid black;
	background-color: white;
}

#infoSection {
	text-align: center;
	width: 100%;
}

.majorSection {
	text-align: left;
}
/*
.majorSection > h4 {
	margin-bottom: 0;
}

.majorSection > ul {
	margin-top: 0;
}
*/

.workContainer {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.projectContainer {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px dashed black;
	padding-top: 1em;
}

.projectMainSection {
	
}

.projectImagesLeft {
	position: absolute;
	top: 0;
	right: 101%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: 1em;
	align-items: center;
	margin-right: 2em;
}

.projectImagesRight {
	position: absolute;
	top: 0;
	left: 101%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 1em;
	align-items: center;
	margin-left: 2em;
}

.projectEndSection {
	border-bottom: 2px dashed black;
}

.projectImagesRight > img, .projectImagesLeft > img {
	height: min(100%, 15em);
	width: auto;
	border: 2px solid black;
	z-index: 1;
}

.noborder {
	border: none !important;
}

.projectImagesRight > img:hover, .projectImagesLeft > img:hover {
	transform: scale(2);
	z-index: 10;
}