* {
	margin-left: auto;
	margin-right: auto;
	font-family: Calibri, sans-serif;
	line-height: 1.0em;
}

body {
	overflow: hidden;
}

#mainDoc {
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	padding: 1em;
	border: 2px solid black;
	overflow-y: scroll;
}

#infoSection {
	text-align: center;
}

.majorSection {
	text-align: left;
}
/*
.majorSection > h4 {
	margin-bottom: 0;
}

.majorSection > ul {
	margin-top: 0;
}
*/
