* {
	font-family: Calibri, sans-serif;
	line-height: 1.0em;
}

body {
	overflow: hidden;
}

#mainDoc {
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	padding: 1em;
	border: 2px solid black;
	overflow-y: scroll;
}

#infoSection {
	text-align: center;
}

.majorSection {
	text-align: left;
}
/*
.majorSection > h4 {
	margin-bottom: 0;
}

.majorSection > ul {
	margin-top: 0;
}
*/

.projectContainer {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px dashed black;
	padding-top: 1em;
}

.projectMainSection {
	
}

.projectImages {
	position: absolute;
	top: 1em;
	right: 0;
	height: calc(100% - 2.2em);
}

.projectImages > img {
	height: 100%;
	width: auto;
	border: 2px solid black;
	z-index: 2;
}

.projectImages > img:hover {
	transform: translateX(-50%) scale(2);
}